[package]
name = "xtask"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
clap = { version = "4", features = ["derive"] }
color-eyre = "0.6"
xshell = "0.2"
colored = "2"
sha2 = "0.10"
walkdir = "2"
